@charset "utf-8";

header {
    font-family: 'Lucida handwriting';
    font-size: 1.5em;
    color: white;
    background-color: darkgrey;
    text-align: center;
    animation: rgbShadow 5s infinite;
    width: 100%;
}

@keyframes rgbShadow {
    0% { box-shadow: 0 0 100px blue; }
    
    100% {
        box-shadow: 0 0 100px blue;
    }
}

p {
    border: 1px solid black;
    box-shadow: 5px 5px 50px darkblue;
    text-align: center;
    margin-top: 6%;
    margin-right: 50%;
    display: block;
    font-size: 30px;
    font-family: 'Lucida handwriting';
    color: white;
    position: relative;
    background-color: darkgrey;
    width: 80%;
    top: 120px;
    animation: rgbShadow 5s infinite;
    left: 200px;
}

.p2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Lucida handwriting';
    color: white;
    margin: 0 auto;
    position: relative;
    top: 80px;
    left: 25px;
    animation: rgbShadow 5s infinite;
    width: 500px;
}

footer {
    padding-top: 8%;
    font-size: 5em;
    font-family: 'Lucida handwriting';
    color: white;
    position: relative;
}

html {
    background-color: rgb(57, 62, 70);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
    gap: 200px;
    flex: wrap;

}

ul a {
    position: relative;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 2em;
}

@keyframes hoverEffect {
    0% {
        color: red;
    }

    50% {
        color: darkblue;
    }
}

ul a:hover {
    color: darkblue;
    font-weight: bold;
    transition: all 0.5s ease;
    animation: hoverEffect 3s infinite;
}

ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 7px;
    background-color: darkblue;
    transition: width 0.4s ease;
}

ul a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    header {
        font-size: 1.2em;
    }

    ul {
        flex-direction: column;
        gap: 15px;

    }

    img {
        position: relative;
        float: none;
        display: block;
        margin: 20px auto;
        width: 80%;
        left: 5px;
        top: 125px;
        
    }

    .p2 {
        font-size: 1.5em;
        padding: 1px;
        height: auto;
        font-size: 1.5em;
        width: 70%;
        left: 50px;
    }
    p {
       font-size: 1.3em;width: 200px;
        height: 200px;
        margin: 20px auto;
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid #333;
        border-radius: 8px;
        height: auto;
        width: auto;
        bottom: 80px;
    }
    footer{
        text-align: center;
        font-size: 6em;
        gap: 15px;
        top: 100px;
    }
}