@charset "utf-8";

header {
    font-family: 'Lucida handwriting';
    font-size: 1.5em;
    color: white;
    background-color: darkgrey;
    text-align: center;
    animation: rgbShadow 5s infinite;
}

.rate-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.rate-form h2 {
    text-align: center;
    color: white;
}

header {
    font-family: 'Lucida handwriting';
    font-size: 1.5em;
    color: white;
    background-color: darkgrey;
    text-align: center;
    animation: rgbShadow 5s infinite;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
    gap: 200px;
    flex: wrap;

}

ul a {
    position: relative;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 2em;
}

ul a:hover {
    color: darkblue;
    font-weight: bold;
    transition: all 0.5s ease;
    animation: hoverEffect 3s infinite;
}

ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 7px;
    background-color: darkblue;
    transition: width 0.4s ease;
}

@keyframes rgbShadow {
    0% {
        box-shadow: 0 0 100px blue;
    }

    100% {
        box-shadow: 0 0 100px blue;
    }
}

ul a:hover::after {
    width: 100%;
}

html {
    background-color: rgb(57, 62, 70);
}

fieldset {
    color: white;
}

h2 {
    color: white;
}

label {
    color: white;
}

@keyframes hoverEffect {
    0% {
        color: red;
    }

    50% {
        color: darkblue;
    }
}

@media (max-width: 480px) {
    .rate-form {
        padding: 10px;
    }

    .stars label {
        font-size: 1.5em;
    }
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1.5em;
}
